<%layout("/layouts/boilerplate")%>

  <body>
    <div class="row mt-4">
      <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"  novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-1">
        <label for="title" class="form-label">Title</label>
      <input name="listing[title]" value="<%= listing.title %>" class="form-control" type="text" required />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
      <br /><br />
      <div class="mb-1">
        <label for="description" class="form-label">Description</label>
      <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
      >
      <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a short description!</div>
    </div>
      <br /><br />
      <div class="mb-3">
        Orginal Listing Image <br>
        <img src="<%=transformedImageUrl%>" >
      </div>
      <div class="mb-1">
        <label for="image" class="form-label">Upload New Image</label>
      <input type="file" name="listing[image]" class="form-control"  />
    </div>
    <div class="invalid-feedback">
      insert valid image link .
     </div>
      <br /><br />
      <div class="row">
      <div class="mb-1 col-md-4">
        <label for="price" class="form-label">Price</label>
      <input name="listing[price]" class="form-control" required value="<%= listing.price %>" type="number" />
      <div class="invalid-feedback">
        Price should be valid .
       </div>
    </div>
      <br /><br />
      <div class="mb-1 col-md-8">
        <label for="country" class="form-label">Country</label>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text" class="form-control" required
      />
      <div class="invalid-feedback">
        Country should be valid .
       </div>
    </div>
  </div>
      <br /><br />
      <div class="mb-1">
        <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text" class="form-control" required
      />
      <div class="invalid-feedback">
        Location should be valid .
       </div>
    </div>
      <br /><br />
      <button class="btn btn-dark edit-btn mt-2">Edit</button>
    </form>
  </div>
  </div>
  </body>
